.HNbe3eZf6H7dtJ042x1vM.HSQWw9HUAP6jtA2OZjS-u,
.QlR9EFwTdUNm_J5vx54_Z .HNbe3eZf6H7dtJ042x1vM {
    max-width: 100% !important;
    -webkit-mask-image: none !important;
    width: calc(100% + 128px) !important;
}
