:root {
    --playButtonColor: #01a75b;
    --playButtonHoverColor: #00bb67;
    --rightSideButtonColor: #00bb67;
    --rightSideButtonHoverColor: #01a75b;

    --installButtonColor: #235ecf;
    --installButtonHoverColor: #1f54b8;
}

._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX {
    background: var(--playButtonColor) !important;
}

._1FnJ6dPuknQFQ2RTpKTI16._3cI5TXsFX3bvpR-7EBOtxq._1hhB2Wf7iExA15zh_lDQ_y.Panel ._3ydigb6zZAjJ0JCDgHwSYA._2AzIX5kl9k6JnxLfR5H4kX.Focusable,
._1FnJ6dPuknQFQ2RTpKTI16._1hhB2Wf7iExA15zh_lDQ_y ._2q-gZ3XJzlvSGHSF-GvSmi._2AzIX5kl9k6JnxLfR5H4kX.Focusable,
._1FnJ6dPuknQFQ2RTpKTI16 ._3ydigb6zZAjJ0JCDgHwSYA._2AzIX5kl9k6JnxLfR5H4kX.Focusable {
    background: var(--installButtonColor);
}