:root {
    --playButtonColor: var(--ctp-green);
    --playButtonHoverColor: var(--ctp-teal);
    --rightSideButtonColor: var(--ctp-teal);
    --rightSideButtonHoverColor: var(--ctp-green);

    --installButtonColor: var(--ctp-blue);
    --installButtonHoverColor: var(--ctp-sapphire);
}

._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX {
    background: var(--playButtonColor) !important;
}

._1FnJ6dPuknQFQ2RTpKTI16._3cI5TXsFX3bvpR-7EBOtxq._1hhB2Wf7iExA15zh_lDQ_y.Panel ._3ydigb6zZAjJ0JCDgHwSYA._2AzIX5kl9k6JnxLfR5H4kX.Focusable,
._1FnJ6dPuknQFQ2RTpKTI16._1hhB2Wf7iExA15zh_lDQ_y ._2q-gZ3XJzlvSGHSF-GvSmi._2AzIX5kl9k6JnxLfR5H4kX.Focusable,
._1FnJ6dPuknQFQ2RTpKTI16 ._3ydigb6zZAjJ0JCDgHwSYA._2AzIX5kl9k6JnxLfR5H4kX.Focusable {
    background: var(--installButtonColor);
}