._9sPoVBFyE_vE87mnZJ5aB ._3x1HklzyDs4TEjACrRO2tB {
	background: rgb(37 37 37) !important;
	border-top-left-radius: 7px;
}

._2Nq6ov7A1hGcHXVOXNt_OE::before,
._2AUVZlzQq67qe3yhLZsPPB::before {
	content: unset !important;
}
