/* Catppuccin Latte - Light Theme
 * Official Catppuccin Latte palette (light variant)
 * https://github.com/catppuccin/catppuccin
 */

:root {
    /* Catppuccin Latte - Accent Colors */
    --ctp-rosewater: #dc8a78;
    --ctp-flamingo: #dd7878;
    --ctp-pink: #ea76cb;
    --ctp-mauve: #8839ef;
    --ctp-red: #d20f39;
    --ctp-maroon: #e64553;
    --ctp-peach: #fe640b;
    --ctp-yellow: #df8e1d;
    --ctp-green: #40a02b;
    --ctp-teal: #179299;
    --ctp-sky: #04a5e5;
    --ctp-sapphire: #209fb5;
    --ctp-blue: #1e66f5;
    --ctp-lavender: #7287fd;
    
    /* Catppuccin Latte - Text Colors */
    --ctp-text: #4c4f69;
    --ctp-subtext1: #5c5f77;
    --ctp-subtext0: #6c6f85;
    
    /* Catppuccin Latte - Surface & Overlay Tones */
    --ctp-overlay2: #7c7f93;
    --ctp-overlay1: #8c8fa1;
    --ctp-overlay0: #9ca0b0;
    --ctp-surface2: #acb0be;
    --ctp-surface1: #bcc0cc;
    --ctp-surface0: #ccd0da;
    
    /* Catppuccin Latte - Base Backgrounds */
    --ctp-base: #eff1f5;
    --ctp-mantle: #e6e9ef;
    --ctp-crust: #dce0e8;
    
    /* RGB Variants for use with rgb() and rgba() */
    --ctp-rosewater-rgb: 220, 138, 120;
    --ctp-flamingo-rgb: 221, 120, 120;
    --ctp-pink-rgb: 234, 118, 203;
    --ctp-mauve-rgb: 136, 57, 239;
    --ctp-red-rgb: 210, 15, 57;
    --ctp-maroon-rgb: 230, 69, 83;
    --ctp-peach-rgb: 254, 100, 11;
    --ctp-yellow-rgb: 223, 142, 29;
    --ctp-green-rgb: 64, 160, 43;
    --ctp-teal-rgb: 23, 146, 153;
    --ctp-sky-rgb: 4, 165, 229;
    --ctp-sapphire-rgb: 32, 159, 181;
    --ctp-blue-rgb: 30, 102, 245;
    --ctp-lavender-rgb: 114, 135, 253;
    --ctp-text-rgb: 76, 79, 105;
    --ctp-subtext1-rgb: 92, 95, 119;
    --ctp-subtext0-rgb: 108, 111, 133;
    --ctp-overlay2-rgb: 124, 127, 147;
    --ctp-overlay1-rgb: 140, 143, 161;
    --ctp-overlay0-rgb: 156, 160, 176;
    --ctp-surface2-rgb: 172, 176, 190;
    --ctp-surface1-rgb: 188, 192, 204;
    --ctp-surface0-rgb: 204, 208, 218;
    --ctp-base-rgb: 239, 241, 245;
    --ctp-mantle-rgb: 230, 233, 239;
    --ctp-crust-rgb: 220, 224, 232;

    /* Legacy RGB Component Tokens - Mapped to Catppuccin (Inverted for Light Theme) */
    /* These maintain compatibility with existing theme system */
    /* Note: For light theme, the hierarchy is reversed - crust is lightest, overlay is darkest */
    --dark-13: var(--ctp-crust-rgb);
    --dark-14: var(--ctp-crust-rgb);
    --dark-19: var(--ctp-mantle-rgb);
    --dark-1b: var(--ctp-mantle-rgb);
    --dark-1d: var(--ctp-base-rgb);
    --dark-20: var(--ctp-base-rgb);
    --dark-21: var(--ctp-base-rgb);
    --dark-29: var(--ctp-surface0-rgb);
    --dark-2b: var(--ctp-surface0-rgb);
    --dark-2d: var(--ctp-surface1-rgb);
    --dark-30: var(--ctp-surface1-rgb);
    --dark-31: var(--ctp-surface1-rgb);
    --dark-32: var(--ctp-surface2-rgb);
    --dark-37: var(--ctp-surface2-rgb);
    --dark-3a: var(--ctp-overlay0-rgb);

    /* Semantic Variables - Using Catppuccin Tokens */
    --background-fill-color-layer-default: rgb(var(--ctp-overlay0-rgb), 0.3);
    --settings-sidebar-btn-bg: rgb(var(--ctp-surface1-rgb));
    --settings-sidebar-hover-bg: rgb(var(--ctp-surface0-rgb));
    --settings-sidebar-hover-not-select: rgb(var(--ctp-surface2-rgb), 0.42);
    --compact-mode-navbar-button-col: rgb(var(--ctp-surface1-rgb), 0.49);
    --settings-button-col: rgb(var(--ctp-surface2-rgb));
    --settings-groupbox-bg: rgb(var(--ctp-surface0-rgb));
    --settings-mdl-bg: rgb(var(--ctp-base-rgb));
    --window-bg: rgb(var(--ctp-mantle-rgb));
    --nosidebar-title: rgb(var(--ctp-base-rgb), 0.46);
    --titlebar-color: rgb(var(--ctp-mantle-rgb), 0.82);
    --background-col: rgb(var(--ctp-base-rgb));
    --accent-col: rgb(var(--ctp-base-rgb));
    --color-darker: rgb(var(--ctp-mantle-rgb));
    --color-darkest: rgb(var(--ctp-crust-rgb));
    --color-light: rgb(var(--ctp-surface1-rgb));
    --border-color: rgb(var(--ctp-base-rgb));
    --border-color-secondary: rgb(var(--ctp-overlay0-rgb));
    --accent-secondary: rgb(var(--ctp-surface2-rgb));
    --focusable-col: rgb(var(--ctp-surface0-rgb));
    --input-border-col: rgb(var(--ctp-surface1-rgb));
    --context-menu-bg: var(--ctp-mantle-rgb);
    --tray-menu-bg: var(--ctp-surface0-rgb);
}
