/* Catppuccin Macchiato - Dark Theme
 * Official Catppuccin Macchiato palette (dark variant)
 * https://github.com/catppuccin/catppuccin
 */

:root {
    /* Catppuccin Macchiato - Accent Colors */
    --ctp-rosewater: #f4dbd6;
    --ctp-flamingo: #f0c6c6;
    --ctp-pink: #f5bde6;
    --ctp-mauve: #c6a0f6;
    --ctp-red: #ed8796;
    --ctp-maroon: #ee99a0;
    --ctp-peach: #f5a97f;
    --ctp-yellow: #eed49f;
    --ctp-green: #a6da95;
    --ctp-teal: #8bd5ca;
    --ctp-sky: #91d7e3;
    --ctp-sapphire: #7dc4e4;
    --ctp-blue: #8aadf4;
    --ctp-lavender: #b7bdf8;
    
    /* Catppuccin Macchiato - Text Colors */
    --ctp-text: #cad3f5;
    --ctp-subtext1: #b8c0e0;
    --ctp-subtext0: #a5adcb;
    
    /* Catppuccin Macchiato - Surface & Overlay Tones */
    --ctp-overlay2: #939ab7;
    --ctp-overlay1: #8087a2;
    --ctp-overlay0: #6e738d;
    --ctp-surface2: #5b6078;
    --ctp-surface1: #494d64;
    --ctp-surface0: #363a4f;
    
    /* Catppuccin Macchiato - Base Backgrounds */
    --ctp-base: #24273a;
    --ctp-mantle: #1e2030;
    --ctp-crust: #181926;
    
    /* RGB Variants for use with rgb() and rgba() */
    --ctp-rosewater-rgb: 244, 219, 214;
    --ctp-flamingo-rgb: 240, 198, 198;
    --ctp-pink-rgb: 245, 189, 230;
    --ctp-mauve-rgb: 198, 160, 246;
    --ctp-red-rgb: 237, 135, 150;
    --ctp-maroon-rgb: 238, 153, 160;
    --ctp-peach-rgb: 245, 169, 127;
    --ctp-yellow-rgb: 238, 212, 159;
    --ctp-green-rgb: 166, 218, 149;
    --ctp-teal-rgb: 139, 213, 202;
    --ctp-sky-rgb: 145, 215, 227;
    --ctp-sapphire-rgb: 125, 196, 228;
    --ctp-blue-rgb: 138, 173, 244;
    --ctp-lavender-rgb: 183, 189, 248;
    --ctp-text-rgb: 202, 211, 245;
    --ctp-subtext1-rgb: 184, 192, 224;
    --ctp-subtext0-rgb: 165, 173, 203;
    --ctp-overlay2-rgb: 147, 154, 183;
    --ctp-overlay1-rgb: 128, 135, 162;
    --ctp-overlay0-rgb: 110, 115, 141;
    --ctp-surface2-rgb: 91, 96, 120;
    --ctp-surface1-rgb: 73, 77, 100;
    --ctp-surface0-rgb: 54, 58, 79;
    --ctp-base-rgb: 36, 39, 58;
    --ctp-mantle-rgb: 30, 32, 48;
    --ctp-crust-rgb: 24, 25, 38;

    /* Legacy RGB Component Tokens - Mapped to Catppuccin */
    /* These maintain compatibility with existing theme system */
    --dark-13: var(--ctp-crust-rgb);
    --dark-14: var(--ctp-crust-rgb);
    --dark-19: var(--ctp-mantle-rgb);
    --dark-1b: var(--ctp-mantle-rgb);
    --dark-1d: var(--ctp-base-rgb);
    --dark-20: var(--ctp-base-rgb);
    --dark-21: var(--ctp-base-rgb);
    --dark-29: var(--ctp-surface0-rgb);
    --dark-2b: var(--ctp-surface0-rgb);
    --dark-2d: var(--ctp-surface1-rgb);
    --dark-30: var(--ctp-surface1-rgb);
    --dark-31: var(--ctp-surface1-rgb);
    --dark-32: var(--ctp-surface2-rgb);
    --dark-37: var(--ctp-surface2-rgb);
    --dark-3a: var(--ctp-overlay0-rgb);

    /* Semantic Variables - Using Catppuccin Tokens */
    --background-fill-color-layer-default: rgb(var(--ctp-overlay0-rgb), 0.3);
    --settings-sidebar-btn-bg: rgb(var(--ctp-surface1-rgb));
    --settings-sidebar-hover-bg: rgb(var(--ctp-surface0-rgb));
    --settings-sidebar-hover-not-select: rgb(var(--ctp-surface2-rgb), 0.42);
    --compact-mode-navbar-button-col: rgb(var(--ctp-surface1-rgb), 0.49);
    --settings-button-col: rgb(var(--ctp-surface2-rgb));
    --settings-groupbox-bg: rgb(var(--ctp-surface0-rgb));
    --settings-mdl-bg: rgb(var(--ctp-base-rgb));
    --window-bg: rgb(var(--ctp-mantle-rgb));
    --nosidebar-title: rgb(var(--ctp-base-rgb), 0.46);
    --titlebar-color: rgb(var(--ctp-mantle-rgb), 0.82);
    --background-col: rgb(var(--ctp-base-rgb));
    --accent-col: rgb(var(--ctp-base-rgb));
    --color-darker: rgb(var(--ctp-mantle-rgb));
    --color-darkest: rgb(var(--ctp-crust-rgb));
    --color-light: rgb(var(--ctp-surface1-rgb));
    --border-color: rgb(var(--ctp-base-rgb));
    --border-color-secondary: rgb(var(--ctp-overlay0-rgb));
    --accent-secondary: rgb(var(--ctp-surface2-rgb));
    --focusable-col: rgb(var(--ctp-surface0-rgb));
    --input-border-col: rgb(var(--ctp-surface1-rgb));
    --context-menu-bg: var(--ctp-mantle-rgb);
    --tray-menu-bg: var(--ctp-surface0-rgb);
}
