.A14yd24JRjhFI-Q1ae6tN {
    height: calc(100% + 48px);
}
._2O6k6YchzA5nhfbrdAGHAn._2levHjhEzRAVzWSj6oMXzj, ._2O6k6YchzA5nhfbrdAGHAn._1nosIKD_xejGRDzGB0gy1v {
    transform: translateY(67px)
}
._2O6k6YchzA5nhfbrdAGHAn._27g5SXTsPA8g4MN9PxPjAD {
    transform: translateY(37.5px)
}
._30acA_E0q_GuOxBqxgDJj4 {
    transform: translateY(77px)
}