.A14yd24JRjhFI-Q1ae6tN {
    transform: translateY(67px);
    height: unset !important;
}
._2O6k6YchzA5nhfbrdAGHAn, ._2O6k6YchzA5nhfbrdAGHAn._27g5SXTsPA8g4MN9PxPjAD {
    transform: translateY(67px) !important;
}
._30acA_E0q_GuOxBqxgDJj4 {
    transform: translateY(77px);
}