._1ZS_xta5HMXzR8JgxDH6n7 {
    display: none !important;
}

div.ReactVirtualized__Grid.ReactVirtualized__List {
    height: calc(100vh - 68px) !important;
    width: 260px !important;
    transform: translateX(-10px);
}

._9sPoVBFyE_vE87mnZJ5aB {
    margin-top: 0 !important;
}