.C9tvuqqEXGcrkcAtHrQ_R.PopupFullWindow._290hvyptb3mP0rOSaapjgZ.GameOverview {
    border-radius: 6px;
    border: 1px solid rgb(var(--ctp-surface0-rgb));
    box-sizing: border-box;
    height: 100%;
    background: rgb(var(--dark-21)) !important;
}

._27m9Qbg4ShilOgwvYZWV8l {
    background: rgb(var(--dark-21));
}

.title-area-highlight {height: 0 !important;visibility: hidden !important;display: none !important;}

._3pXasCUulX4jjqO79s4q_F._2MkHZqf7MrgW3f8qGHiI8Z {
    display: none !important;
    background: none !important;
}

._1vG-vFfwpDeNStVbyo1Qy6 {
    border-radius: 6px !important;
    border: 1px solid rgb(var(--dark-1d));
}

._2wBK7MqJSrj6QCxf3357yL {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

._2wBK7MqJSrj6QCxf3357yL {
    background: rgb(var(--dark-30)) !important;
}

._17TJ4vdOZjHL-bjbRUKzxp._3WMiI5PUctRy9VuvX4r5hj {
    background: rgb(var(--ctp-mantle-rgb));
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

._17TJ4vdOZjHL-bjbRUKzxp {
    background: rgb(var(--ctp-mantle-rgb));
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 2px;
}

._2OwqXw1nhBL430bsYTeEr- {
    background: rgb(var(--ctp-mantle-rgb)) !important;
}

._2heIyaBp5LdaF76WpjYU4R {
    font-weight: 550 !important;
}

._27m9Qbg4ShilOgwvYZWV8l ._1vG-vFfwpDeNStVbyo1Qy6 ._2OwqXw1nhBL430bsYTeEr-:hover {
    color: white;
}

/* .pagedsettings_PagedSettingsDialog_PageContent_1I3Ni.DesktopUI, .DesktopUI .pagedsettings_PagedSettingsDialog_PageContent_1I3Ni {
    padding: 29px 0px 0px 0px;
}

.pagedsettings_HidePageListButton_3i4Ep {
    left: 0px;
    height: 30px !important;
    border: 0.5px solid rgb(var(--dark-3a)) !important;
    border-radius: 6px;
    background: rgb(var(--dark-37)) !important;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 39px;
}


.steamdesktopoverlay_OverlayPopup_C9tvu.steamdesktopoverlay_Resizable_290hv {height: 100% !important;padding: 0 !important;} */