._1I3NifxqTHCkE-2DeritAs.DesktopUI, .DesktopUI ._1I3NifxqTHCkE-2DeritAs {
    padding: 29px 0px 0px 0px;
}

._3i4EpiSDpxQHVFExxUa1Zp {
    left: 0px;
    height: 30px !important;
    border: 0.5px solid rgb(var(--dark-3a)) !important;
    border-radius: 6px;
    background: rgb(var(--dark-37)) !important;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 39px;
}


.C9tvuqqEXGcrkcAtHrQ_R._290hvyptb3mP0rOSaapjgZ {
    height: 100% !important;
    padding: 0 !important;
}

._18QCu-7MTzd51UpVbYysDy {
    height: 100% !important;
}

._3i4EpiSDpxQHVFExxUa1Zp svg {
    margin: 0 !important;
}

._3pXasCUulX4jjqO79s4q_F._2MkHZqf7MrgW3f8qGHiI8Z {
    display: none !important;
}


.C9tvuqqEXGcrkcAtHrQ_R.PopupFullWindow._290hvyptb3mP0rOSaapjgZ.GameNotes {
    border-radius: 6px;
    border: 1px solid rgb(var(--dark-1d));
    background: rgb(var(--dark-21)) !important;
    box-sizing: border-box;
}

._3pXasCUulX4jjqO79s4q_F._2MkHZqf7MrgW3f8qGHiI8Z {
    display: none !important;
}

.LclHwcOfHFpwObYMD1HLa, .DialogContent, ._2kwFFHckg8jvnwJfg9-la8, ._2y2tUbsMx8OIwkimGSyHmb, ._1I3NifxqTHCkE-2DeritAs.DesktopUI, .DesktopUI ._1I3NifxqTHCkE-2DeritAs {
    background: none !important;
}

._1dBCPkyWYRX7FwOcOEDrOo .DialogContentTransition {
    background: none !important;
}


._3zWunJFZU6u89fIABN9Gkf._3lEt5gxDF4ACrtnP4U7Z-D.Panel {
    background: rgb(var(--ctp-mantle-rgb));
    border-radius: 6px;
    box-shadow: none !important;
}

._2rjVTGz8aLvqOdz5v2gq5C {
    font-size: 20px;
    font-weight: 550 !important;
    letter-spacing: unset !important;
    text-transform: none !important;
    color: white;
}

._3WOF4kDR1RbjelZgS8Qd-H {
    margin: 0px 15px 20px 0px;
}

._1dBCPkyWYRX7FwOcOEDrOo ._2J6kvK4A5CTbr_o4ZYqycZ {
    margin: 0px 0px 20px 15px;
}

.A6mhRr1dqvr5OHl9MX6_3 {
    margin-left: 2px;
}

.C9tvuqqEXGcrkcAtHrQ_R ._2o4H5sZ1iV7ogM_PNl0aXo svg {
    display: block !important;
}

.DesktopUI .title-area-icon:hover, .friendsui-container .title-area-icon:hover {
    background: rgb(var(--ctp-surface0-rgb));
}

.title-area-icon.closeButton.windowControlButton {
    border-top-right-radius: 6px !important;
}

.C9tvuqqEXGcrkcAtHrQ_R.PopupFullWindow._290hvyptb3mP0rOSaapjgZ._2OoAjT3o0Ieng7ycuy86vZ.GameNotes {
    background: none !important;
    border: none !important;
}