.fbu3l7kPiBeb3EKCjIb8n {
    background: rgb(var(--dark-30));
    border-radius: 6px;
    border: .5px solid rgb(var(--dark-3a), 0.81);
}

.fbu3l7kPiBeb3EKCjIb8n .Focusable button {
    background: transparent;
}

._3OzkVrQFFPv0aV41N4MrHV .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L {
    background: transparent;
}