/* Dev note: Can be used for further profile customization, idk man, anyway hate Karina from the developer -claw*/

.profile_header_bg_texture {
}

.profile_header_bg {
}

.profile_content.has_profile_background {
}

.profile_content {
}

.profile_customization {
}

.friendBlock {
}

.profile_header_content>.playerAvatar{
    border-radius: inherit !important;
}

.btn_profile_action.btn_medium {
}

.btn_profile_action.btn_medium:hover {
}