@import url(rootMenu.css);
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:first-child::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:first-child:hover::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:nth-child(3)::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:nth-child(3):hover::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:nth-child(4)::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:nth-child(4):hover::before {
    content: "";
}