._2EstNjFIIZm_WUSKm5Wt7n._3pofGqV0buiKAfMPEs3_82._1UgM1Pm8SbTWX7_2f-crGt {
    border: unset !important;
    background: rgba(var(--dark-20), 0.86);
    box-shadow: unset !important;
    padding: 10px !important;
}

.PP7LM0Ow1K5qkR8WElLpt.visible._1S6CCCQlcTTAAHh3LMTLh1 {
    background: transparent !important;
}

body.ContextMenuPopupBody.DesktopUI {
    background: transparent !important;
}

.PP7LM0Ow1K5qkR8WElLpt.visible._1S6CCCQlcTTAAHh3LMTLh1 {
    min-width: 100px !important;
    width: 450px !important;
}

._3k90ug209sE23xAMqcM74s.Panel,
button._1oERP7bVictkby2hP4BBva,
._3B8wRA4H7e_oSksYNqpSPv._1B1XTNsfuwOaDPAkkr8M42 {
    background: rgba(var(--ctp-surface0-rgb), 0.54) !important;
    border-radius: 6px !important;
    border: 1px solid rgb(var(--dark-29)) !important;
}

._3zfQA8bEKpisPtsyT4SovP:hover {
    background: unset !important;
}

._3zfQA8bEKpisPtsyT4SovP:hover ._1tsEfG-JyQFR7Un1HPOt98._2GC8qj5JitCjVasS9wQzax {
    background: rgb(var(--dark-13)) !important;
}