.PP7LM0Ow1K5qkR8WElLpt.visible._2yAm5LY_eu-Vg_52l0HFlM {
    border-radius: var(--tray-menu-round);
}

html._14wqdluDeDnnEcg3OSLEmd body {
    background: transparent !important;
}

html._14wqdluDeDnnEcg3OSLEmd .PP7LM0Ow1K5qkR8WElLpt {
    position: static;
    box-shadow: none !important;
    display: inline-block;
    padding: 4px !important;
    overflow: hidden !important;
    /* border-radius: 6px !important; */
}

/* Set the background of the popup */
.PP7LM0Ow1K5qkR8WElLpt.visible._2yAm5LY_eu-Vg_52l0HFlM {
    background-color: rgb(var(--dark-2d));
    background-size: cover;
    background-repeat: no-repeat;
    border: .5px solid rgb(var(--ctp-crust-rgb));
}

.PP7LM0Ow1K5qkR8WElLpt.visible._2yAm5LY_eu-Vg_52l0HFlM::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../media/noise_1.png);
    opacity: 0.3;
}

._2EstNjFIIZm_WUSKm5Wt7n._3pofGqV0buiKAfMPEs3_82 {
    background: transparent !important;
}

.ContextMenuPopupBody {
    font-family: var(--text-font-family) !important;
}

/* [class*="menu_MenuItem_"][class*="menu_Item_"]:hover {
    background: rgb(var(--dark-32), 0.42) !important;
    border-top: .5px solid rgb(var(--ctp-surface1-rgb)) !important;
    color: var(--ctp-text) !important;
} */
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem::before {
    border-radius: 4px !important;
    text-align: center;
    color: var(--ctp-text);
    font-size: 20px !important;
    line-height: 18px !important;
    margin-right: 15px !important;
    font-family: FluentSystemIcons !important;
}

@font-face {
    font-family: FluentSystemIcons;
    src: url("../../fonts/FluentSystemIcons-Resizable.woff2");
}

._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem {
    border-radius: 4px;
    border-top: .5px solid transparent !important;
}

.WUOrULWKkGLl3ZUQdDXg8 {
    border-bottom: 2px solid rgb(var(--dark-31)) !important;
}

._1n7Wloe5jZ6fSuvV18NNWI svg {
    height: 20px !important;
    width: 20px !important;
    margin-right: 4px !important;
}

._1F2EcTc-0vNkdiBz8ATakM._1F2EcTc-0vNkdiBz8ATakM+._1n7Wloe5jZ6fSuvV18NNWI {
    border-top: none;
}

._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:hover {
    /* background: #3B3B3B; */
    border-radius: 6px !important;
    color: white !important;
    border-top: .5px solid rgb(var(--ctp-surface1-rgb)) !important;
    box-sizing: content-box !important;
}

._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem {
    border-top: .5px solid transparent !important;
}

._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem {
    /* min-height: 22px !important; */
    display: flex;
    /* justify-content: center; */
    padding-left: 12px;
    color: white !important;
}

.PP7LM0Ow1K5qkR8WElLpt {
    box-shadow: 0 5px 7px 0px #0000002e;
}

/* .contextmenu_contextMenu_LQkrb.visible.contextmenu_ContextMenuFocusContainer_2qyBZ {
    background: rgb(var(--dark-2d))66 !important;
} */
.contextMenuItem:hover ._2QcdrheE9WasLLyJYHymUv._54dy2uxVcadf_1e6Poifs,
.contextMenuItem:hover ._2QcdrheE9WasLLyJYHymUv._54dy2uxVcadf_1e6Poifs {
    color: white !important;
}

.contextMenuItem ._2QcdrheE9WasLLyJYHymUv._54dy2uxVcadf_1e6Poifs {
    color: var(--SystemAccentColorLight3) !important;
    font-weight: normal !important;
}

._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem {
    height: 15px !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

html._14wqdluDeDnnEcg3OSLEmd ._2y2tUbsMx8OIwkimGSyHmb {
    padding: unset !important;
}

._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem:hover {
    border-radius: 5px !important;
    background: rgba(var(--ctp-surface0-rgb), 0.28) !important;
    border-top: 1px solid transparent !important;
}

.PP7LM0Ow1K5qkR8WElLpt.visible._2yAm5LY_eu-Vg_52l0HFlM {
    background: rgb(var(--tray-menu-bg)) !important;
}

img._24_AuLm54JVe1Zc0AApCDR._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
    border: 1px solid rgba(var(--ctp-text-rgb), 0.12);
    box-sizing: border-box;
    border-radius: 3px !important;
}

._2kzMb_F7UTOEdecAFftN-l {
    border-radius: 3px !important;
}

.PP7LM0Ow1K5qkR8WElLpt.visible._2yAm5LY_eu-Vg_52l0HFlM {
    min-width: 250px !important;
}

span._2QcdrheE9WasLLyJYHymUv {
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: unset !important;
}

.PP7LM0Ow1K5qkR8WElLpt.visible._2yAm5LY_eu-Vg_52l0HFlM {
    position: absolute;
}

._2EstNjFIIZm_WUSKm5Wt7n._3qIuY9S_vXm3IQS-uE9SRS .WUOrULWKkGLl3ZUQdDXg8:last-child {
    display: none !important;
}